<div class="navigation">
  <app-header> </app-header>
  <router-outlet></router-outlet>
</div>
<p-divider></p-divider>
<div class="components">
  <h2>PrimeNg Controls</h2>
  <app-form></app-form>
  <app-fileupload-png></app-fileupload-png>
  <app-ptable></app-ptable>
  <app-chart-png></app-chart-png>
  <app-dynamic-dropdown-png></app-dynamic-dropdown-png>
  <app-dynamic-calender-png></app-dynamic-calender-png>
<app-image-gallery-png></app-image-gallery-png>
  <p-divider></p-divider>
  <h2>Angular Material-UI Controls</h2>
  <app-dynamic-form></app-dynamic-form>
  <app-fileupload-dynamic-mui></app-fileupload-dynamic-mui>
  <app-dynamic-mui></app-dynamic-mui>
  <app-grid-mui></app-grid-mui>
  <app-dynamic-multiplelist-mui></app-dynamic-multiplelist-mui>
  <br>
  <app-dynamic-dropdown-mui></app-dynamic-dropdown-mui>

  <p-divider></p-divider>
  <h2>D3.js Charts</h2>
  <app-bar-d3></app-bar-d3>
</div>
